*{
    box-sizing: border-box;
  }


  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }



  body, html {
    height: 100%;
  }
  
  body{
    background-image: url('img1.svg');
   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .sign {
    
    width: 500px;
    align-items: center;
    text-align: center;
    margin: auto;
    /* background-color: aliceblue; */
    padding: 20px;
    margin-top: 30px;
  }
  .sign-in {
    padding: 20px;
  }
  .form-control {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .form-control label {
    text-align: left;
    padding-bottom: 10px;
  }
  .form-control input{
      height: 40px;
      padding-left: 10px;
      border:solid gray;
      border-width: 1px;
      border-radius: 5px;
  }
  .form-control label:after {
    content: "*";
    color: red;
  }
  
  .btn {
      width: 100%;
      margin-top: 35px;
      height: 40px;
      border: none;
      background-color: red;
      color: white;
      border-radius: 5px;
      padding-bottom: 0;
      text-transform: uppercase;
  }
  .btn:hover{
      cursor: pointer;
  }

  @media screen and (max-width: 1400px) {      
    body{
        background-position: center;
        background-image: fixed;
        background-size: 1500px;
    }
  }
  @media screen and (max-width: 500px) {      
      body{
          background-position: center;
          background-image: fixed;
          background-size: 3500px;
      }
      .sign{
        width: 400px;
      }
  }
  @media screen and (max-width: 400px){
    .sign{
      width: 350px;
    }
  }
  @media screen and (max-width: 300px){
    .sign{
      width: 280px;
    }
  }
  @media screen and (max-width: 285px){
      body{
          background-size: 5000px;
      }
      .sign{
        width: 250px;
      }
  }